form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid rgb(148, 215, 211);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h1,
h2 {
  text-align: center;
}

hr {
  border: 1px solid rgb(148, 215, 211);
  outline: none;
}
button {
  align-self: flex-end;
  padding: 1rem 2.5rem;
  cursor: pointer;
  border: 2px solid turquoise;
  border-radius: 0.5rem;
  background-color: rgb(176, 192, 206);
  font-size: 1.2rem;
  width: fit-content;
}

button:hover {
  background-color: turquoise;
}

input[type="text"] {
  padding: 1.2rem;
  background-color: rgb(199, 212, 223);
  border: transparent;
  border-radius: 0.5rem;
  outline: 2px dashed rgb(190, 190, 190);
  outline-offset: 0.2rem;
}

input[type="text"]:focus {
  outline: 2px dashed rgb(84, 195, 174);
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  background-color: rgba(127, 255, 212, 0.552);
  width: fit-content;
  border-radius: 0.5rem;
  margin-top: 1rem;
  gap: 1rem;
}

li:nth-child(even) {
  background-color: rgba(127, 255, 212, 0.29);
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  accent-color: turquoise;
}

input[type="checkbox"]::after {
  width: 2rem;
  height: 2rem;
  accent-color: turquoise;
}

/* SPECIFIC CLASSES (BEM) */

.button__delete {
  background-color: transparent;
  border: none;
  padding: 0;
  padding-top: 0.2rem;
}

.button__delete svg {
  width: 1.5rem;
}

.checkbox__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.widget__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.widget__text {
  display: flex;
  gap: 1rem;
}

.widget__icon {
  font-size: 4rem;
  margin: 0;
}
